body{
  background-color: #95d5b2;
}

.board-cont{
  margin:40px;
}

.board-row{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.square{
  background-color: #ff7096;
}

h1{
  margin-top:3%;
  font-size: 40px;
  text-align: center;
}

h3{
  font-size: 30px;
}

button{
  margin-left: 40%;
  font-size: larger;
}

button:hover{
  background-color: #e0b982;
}